body {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
}

header {
  background-color: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: medium;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navlink {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

.navlink:hover{
  text-decoration: underline;
}


h1 {
	margin: 0;
	font-weight: 500;
	font-size: 20px;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}


.card {
  width: 200px;
  height: 300px;
  font-weight: 500;
  background-color: rgb(240, 239, 239);
  border: 2px solid rgb(155, 242, 180);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: black;
  position: relative;
}


.imgCard {
  width: 80%;
  height: auto;
  margin-top: 30px;
}

.preco{
  background-color: rgb(220, 220, 220);
  font-weight: 500;
}